<footer>
  <small>
    86 400 Ltd has been granted a full banking licence by APRA and is an authorised deposit-taking institution.
    86 400 Ltd ACN 621 804 813 AFSL and Australian credit licence 506560. The information on this website is general
    and doesn't take your personal situation into account. Please take the time to make sure it's right for you.
  </small>
</footer>
