<app-page>
  <h1>{{ page?.title?.rendered }}</h1>
  <section *ngFor="let section of page?.acf?.section">
    <h2>{{ section.header }}</h2>
    <div>{{ section.feature_text }}</div>
  </section>
</app-page>
