<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/pay">Pay</a></li>
    <li><a routerLink="/save">Save</a></li>
    <li><a routerLink="/blog">Blog</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</nav>
